body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color:aqua;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.logo{
  
  background-color: black;
  border:5px solid yellow;
  border-radius: 15px;
  padding: 10px;

  
}

@media (max-width:500px){
  body
    h1{
      font-size: 3rem;
      color: black;
      background-color:yellow;
      border-radius: 10px;
      border: 2px solid black;
      padding: 5px;
     
    }
    h2{
      
      font-size: 2rem;
    }
    p{
      font-size: 1rem;
    }
    
    .tile-image{
      height: 200px;
      width:280px;
      border: 3px solid blue;
      border-radius: 10px;
    }
    .my_image{
      position: relative;
      float:left;
      height:350px;
      width:280px;
      bottom:20px;
      border: 5px solid blue;
      border-radius: 10px;
      
      }
      
      .right{
        position:relative;
        top:30px;
      }
      #base{
        position: relative;
        top:60px;
      }
     .foot{
      position: relative;
      font-size:medium;
      top:80px;
     }
     .git{
      height:35px;
      width:35px;
      
    }
    .mail{
      position:relative;
      left:10px;
      height:35px;
      width:35px;
    }
    .ln{
      position:relative;
      left:20px;
      height:35px;
      width:35px;
    
    }
  }


@media(min-width:501px) and (max-width:999px){
  body{
    h2{
      font-size: 3rem;
    }
    h1{
      font-size: 4rem;
      background-color: yellow;
      border-radius: 15px;
    }
    p{
      font-size: 2rem;;
    }
    .tile-image{
      height:400px;
      width:500px;
      border:5px solid maroon;
      border-radius: 10px;
    }

    .my_image{
      position: relative;
      float:left;
      height:450px;
      width:350px;
      margin:20px;
      border: 5px solid blue;
      border-radius: 10px;
      
      }
      .git{
        height:35px;
        width:35px;
        
      }
      .mail{
        position:relative;
        left:10px;
        height:35px;
        width:35px;
      }
      .ln{
        position:relative;
        left:20px;
        height:35px;
        width:35px;
      
      }
   

    

  }
}





@media(min-width:1000px){
  body{
    h1{
      font-size: 5rem;
      color: black;
      background-color: yellow;
      border: 5px solid black;
    }
  
  h2{
    font-size:35px;
  }
  
    
    
.tile-image{
  float:left;
  height:290px;
  width:350px;
  margin:20px;
  border: 5px solid black;
  border-radius: 10px;
 
}

.my_image{
position: relative;
bottom:30px;
float:left;
height:425px;
width:350px;
margin:20px;
border: 5px solid blue;
border-radius: 10px;

}

.right{
  
  float:right;
  height:350px;
  width:700px;
}


.left{
  float:left;
  height:350px;
  width:700px;
}

#base{
  position: relative;
  top: 100px;
  
  }
  .contact{
    position: relative;
    left:1250px;
   
  }
  
  
  
  
.git{
  height:35px;
  width:35px;
  
}
.mail{
  position:relative;
  left:10px;
  height:35px;
  width:35px;
}
.ln{
  position:relative;
  left:20px;
  height:35px;
  width:35px;

}

footer{
  position: relative;
  top: 80px;
}
  }
}
  